
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #1a73e8;
  --secondary-color: #adb5bd;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
}

